{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Simple Spell Checker</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'checker/default.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'checker/tabs.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'checker/style.css' %}">

    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'checker/tabs.js' %}"></script>
        <script type="text/javascript" src="{% static 'checker/main.js' %}"></script>
        <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
        <script type="text/javascript">
            //Pusher.logToConsole = true;

            var pusher = new Pusher('161193c85aa3be59e44d', {
              cluster: 'ap1',
              forceTLS: true
            });

            var channel = pusher.subscribe('my-channel');
            channel.bind('my-event', function(data) {
                update(data);
            });

            window.setInterval(function() {
              $('#logger').scrollTop = $('#logger').scrollHeight;
            }, 100);

            function update(data) {
                if ($('#logger .init').length == 1) {
                    $('#logger').html("");
                }

                let html = `<span class="arrow" style="display: block">==============> <span style="color: #ff0">${data.message}</span></span>`;
                if($('#logger span').length == 0) {
                    $('#logger').html(html);
                } else {
                    $(html).insertAfter('span:last');
                }
            }
        </script>
    </body>
</html>
