{% extends "checker/base.html" %}
{% load static %}
{% block content %}
    <div id="wapper">
        <div class="header">
            <h1 style="margin-bottom: 0">Simple Spell Checker</h1>
            <span style="font-size: 14px; margin-bottom: 20px; display: block;">dictionary lookup/edit distance/bigram/probability</span>
        </div>
        <div id="textarea-wapper">
            <div>
                <div id="textarea" spellcheck="false" contenteditable="true">Here's a Bluebery. There's a strawbery, it's a banananana!</div>
                 <div style="width: 100%; margin: 2px 0px 15px; font-size: 12px; padding: 4px; background: #dad9d9; float: left;">
                    <!-- Suggestions Available: <span class="suggestions-yes">bluebery</span>
                    No Suggestions: <span class="suggestions-no">banananana</span> -->
                    <span id="text-count-lbl">Words: <span>0</span></span>
                    <button id="submit">Check</button>
                </div>
            </div>
            <div style="float: left; margin-bottom: 20px">
                <p style="float: left; margin: 0 10px 0 0;">Dictionary Search:</p>
                <select id="dictionary" style="float: left; width: 340px !important">
                    <option>Search Dictionary</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="responsive-tabs-default" style="float: left; width: 500px">
            <ul class="responsive-tabs">
                <li><a href="#tabs-1" target="_self">console</a></li>
                <li><a href="#tabs-2" target="_self">how it works</a></li>
                <li><a href="#tabs-3" target="_self">credits</a></li>
            </ul>
            <div class="responsive-tabs-content bm-larger">
                <div id="tabs-1" class="responsive-tabs-panel">
                    <div id="logger">
                        <span class="arrow init">==============> <span style="color: #ff0">type and click on "Check" button to check spellings</span></span>
                    </div>
                </div>
                <div id="tabs-2" class="responsive-tabs-panel">
                    <img src="{% static 'checker/logo/activity.jpg' %}">
                </div>
                <div id="tabs-3" class="responsive-tabs-panel">
                    <div>
                        Responsive Tabs: <a href="http://www.cloud-eight.com" target="_blank">Joe Mottershaw, Cloud Eight</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
{% endblock content %}


